<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.Michael-Bautista.motive.refresh</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.Michael-Bautista.motive</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>motive</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>NSUserNotificationsUsageDescription</key>
	<string>We use this to remind you to check in.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Inter.ttc</string>
		<string>InterVariable-Italic.ttf</string>
		<string>InterVariable.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
</dict>
</plist>
